In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

In [4]:
#creating series
ser = pd.Series(np.random.rand(34))

In [5]:
ser

0     0.905780
1     0.195663
2     0.148538
3     0.409995
4     0.593147
5     0.702357
6     0.653540
7     0.328176
8     0.314143
9     0.842157
10    0.427803
11    0.327882
12    0.959439
13    0.819886
14    0.654854
15    0.193421
16    0.590826
17    0.933418
18    0.189738
19    0.787065
20    0.897902
21    0.653410
22    0.723801
23    0.843579
24    0.524346
25    0.930060
26    0.435468
27    0.561008
28    0.192935
29    0.961091
30    0.285738
31    0.208362
32    0.718212
33    0.118344
dtype: float64

In [6]:
type(ser)

pandas.core.series.Series

In [7]:
ser.index

RangeIndex(start=0, stop=34, step=1)

In [8]:
ser.dtype

dtype('float64')

In [10]:
ser.head(5)

0    0.905780
1    0.195663
2    0.148538
3    0.409995
4    0.593147
dtype: float64

ser.tail()

In [11]:
ser.tail()

29    0.961091
30    0.285738
31    0.208362
32    0.718212
33    0.118344
dtype: float64

In [14]:
df = pd.DataFrame(np.random.rand(500,8),index = np.arange(500))
df

,0,1,2,3,4,5,6,7
0,0.841283,0.854600,0.927340,0.488273,0.938692,0.049588,0.919665,0.760492
1,0.166835,0.132084,0.352833,0.352922,0.631764,0.720852,0.309727,0.808179
2,0.339046,0.914677,0.508522,0.658289,0.367003,0.235987,0.555594,0.169172
3,0.902237,0.558232,0.305485,0.150717,0.345024,0.378494,0.965778,0.633485
4,0.722296,0.219847,0.938977,0.188263,0.273341,0.665010,0.058893,0.578087
...,...,...,...,...,...,...,...,...
495,0.543187,0.251765,0.066243,0.140763,0.645900,0.367627,0.834925,0.694549
496,0.926720,0.875026,0.292126,0.679722,0.851132,0.219069,0.980843,0.903815
497,0.537479,0.294552,0.738689,0.532129,0.882982,0.997737,0.560087,0.254770
498,0.934015,0.676249,0.218840,0.187739,0.770647,0.514228,0.047151,0.325942
499,0.803622,0.598589,0.167465,0.243442,0.128478,0.166890,0.645512,0.981309

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.columns

RangeIndex(start=0, stop=8, step=1)